<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permisos base -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DriveDecision"
        tools:targetApi="33">

        <activity
            android:name=".SetupActivity"
            android:exported="false"
            android:theme="@style/Theme.DriveDecision" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.DriveDecision">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Accessibility Service -->
        <service
            android:name=".access.DriveAccessibilityService"
            android:exported="false"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/dd_accessibility_service" />
        </service>

        <!-- Screen OCR Service (MediaProjection + OCR) -->
        <service
            android:name=".ocr.ScreenOcrService"
            android:exported="false"
            android:foregroundServiceType="mediaProjection" />

        <!-- Overlay (burbuja flotante) -->
        <service
            android:name=".overlay.FloatingOverlayService"
            android:exported="false"
            android:foregroundServiceType="specialUse"
            tools:targetApi="34">

            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="overlay"
                tools:targetApi="34" />
        </service>

    </application>

</manifest>
